* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

h1 {
    color: #39FF14;
    background-color: black;
    border: 1px solid #39FF14;
    margin: 50px;
    padding: 20px;
    text-align: center;
    display: block;
}

#muteBtn {
    color: #39FF14;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid #39FF14;
    padding: 10px 20px;
    margin: 50px;
    float: right;
}

a {
    text-decoration: none;
}

.portPageBtn {
    color: #39FF14;
    background-color: black;
    font-size: 16px;
    border: 1px solid #39FF14;
    margin: 50px;
    margin-bottom: 0px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    display: inline;
}

canvas {
    position: fixed;
    z-index: 0;
    display: block;
    width: 100%; 
    height: 100%;
    left:0;
    top:0;
    z-index:-1;
}

.sphereContainer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 98vw;
    height: auto;
    min-height: 100vh;
    flex-direction: row;
}

#scene {
    font-size: 1vw;
    position: relative;
    width: 25em;
    height: 25em;
    margin: auto;
    margin-top: 150px;
    perspective: 50em;
    padding: 1em;
    overflow: hidden;
}

#scene #sphere {
    animation: spin 15s linear infinite;
}

#sphere {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

#shadow {
    position: absolute;
    inset: 0;
    box-shadow: inset -1.5625em -1.5625em 3.65em 1.5625em #222; border-radius: 50%;
}

@keyframes spin {
    0% {
    transform: rotateY(0deg);
    }  
    100% {
    transform: rotateY(360deg);
    }
}

.slice {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    transform-style: preserve-3d;
}

.slice:nth-of-type(1) {
    transform: rotateY(0deg);
}
  
.slice:nth-of-type(1) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(2) {
    transform: rotateY(15deg);
}
  
.slice:nth-of-type(2) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(3) {
    transform: rotateY(30deg);
}
  
.slice:nth-of-type(3) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(4) {
    transform: rotateY(45deg);
}
  
.slice:nth-of-type(4) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(5) {
    transform: rotateY(60deg);
}
  
.slice:nth-of-type(5) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(6) {
    transform: rotateY(75deg);
}
  
.slice:nth-of-type(6) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(7) {
    transform: rotateY(90deg);
}
  
.slice:nth-of-type(7) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(8) {
    transform: rotateY(105deg);
}
  
.slice:nth-of-type(8) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(9) {
    transform: rotateY(120deg);
}
  
.slice:nth-of-type(9) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(10) {
    transform: rotateY(135deg);
}
  
.slice:nth-of-type(10) .face {
    filter: hue-rotate(0deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(11) {
    transform: rotateY(150deg);
}
  
.slice:nth-of-type(11) .face {
    filter: hue-rotate(150deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(12) {
    transform: rotateY(165deg);
}
  
.slice:nth-of-type(12) .face {
    filter: hue-rotate(165deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(13) {
    transform: rotateY(180deg);
}
  
.slice:nth-of-type(13) .face {
    filter: hue-rotate(180deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(14) {
    transform: rotateY(195deg);
}
  
.slice:nth-of-type(14) .face {
    filter: hue-rotate(195deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(15) {
    transform: rotateY(210deg);
}
  
.slice:nth-of-type(15) .face {
    filter: hue-rotate(210deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(16) {
    transform: rotateY(225deg);
}
  
.slice:nth-of-type(16) .face {
    filter: hue-rotate(225deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(17) {
    transform: rotateY(240deg);
}
  
.slice:nth-of-type(17) .face {
    filter: hue-rotate(240deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(18) {
    transform: rotateY(255deg);
}
  
.slice:nth-of-type(18) .face {
    filter: hue-rotate(255deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(19) {
    transform: rotateY(270deg);
}
  
.slice:nth-of-type(19) .face {
    filter: hue-rotate(270deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(20) {
    transform: rotateY(285deg);
}
  
.slice:nth-of-type(20) .face {
    filter: hue-rotate(285deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(21) {
    transform: rotateY(300deg);
}
  
.slice:nth-of-type(21) .face {
    filter: hue-rotate(300deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(22) {
    transform: rotateY(315deg);
}
  
.slice:nth-of-type(22) .face {
    filter: hue-rotate(315deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(23) {
    transform: rotateY(330deg);
}
  
.slice:nth-of-type(23) .face {
    filter: hue-rotate(330deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}
  
.slice:nth-of-type(24) {
    transform: rotateY(345deg);
}
  
.slice:nth-of-type(24) .face {
    filter: hue-rotate(345deg) drop-shadow(2px 2px #39FF14) drop-shadow(-2px -2px #39FF14);
}

.face {
    height: 0;
    position: absolute;
    bottom: 12.5em;
    left: 10.868422597249em;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    line-height: 0;
}

.face:nth-of-type(1) {
    border-color: transparent;
    border-width: 0 0.42228330539077em;
  
        border-bottom: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 1.2092940973599em;
      width: 0em;
    
    border-style: solid;
    transform: rotateX(-105deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(2) {
    border-color: transparent;
    border-width: 0 0.39350539598455em;
  
        border-bottom: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.81578870137532em;
      width: 0.84456661078155em;
    
    border-style: solid;
    transform: rotateX(-120deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(3) {
    border-color: transparent;
    border-width: 0 0.33791074414039em;
  
        border-bottom: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.47787795723493em;
      width: 1.6315774027506em;
    
    border-style: solid;
    transform: rotateX(-135deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(4) {
    border-color: transparent;
    border-width: 0 0.25928803350698em;
  
        border-bottom: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.21858992372795em;
      width: 2.3073988910314em;
    
    border-style: solid;
    transform: rotateX(-150deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(5) {
    border-color: transparent;
    border-width: 0 0.1629952718838em;
  
        border-bottom: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.055594651844156em;
      width: 2.8259749580454em;
    
    border-style: solid;
    transform: rotateX(-165deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(6) {
    border-color: transparent;
    border-width: 0 0.055594651844156em;
  
        border-bottom: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0em;
      width: 3.151965501813em;
    
    border-style: solid;
    transform: rotateX(-180deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(7) {
    border-color: transparent;
    border-width: 0 0.055594651844156em;
  
        border-top: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0em;
      width: 3.151965501813em;
    
    border-style: solid;
    transform: rotateX(-195deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(8) {
    border-color: transparent;
    border-width: 0 0.1629952718838em;
  
        border-top: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.055594651844156em;
      width: 2.8259749580454em;
    
    border-style: solid;
    transform: rotateX(-210deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(9) {
    border-color: transparent;
    border-width: 0 0.25928803350698em;
  
        border-top: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.21858992372795em;
      width: 2.3073988910314em;
    
    border-style: solid;
    transform: rotateX(-225deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(10) {
    border-color: transparent;
    border-width: 0 0.33791074414039em;
  
        border-top: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.47787795723493em;
      width: 1.6315774027506em;
    
    border-style: solid;
    transform: rotateX(-240deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(11) {
    border-color: transparent;
    border-width: 0 0.39350539598455em;
  
        border-top: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 0.81578870137532em;
      width: 0.84456661078155em;
    
    border-style: solid;
    transform: rotateX(-255deg) translateZ(12.5em) rotateX(7.5deg);
  
}
  
.face:nth-of-type(12) {
    border-color: transparent;
    border-width: 0 0.42228330539077em;
  
        border-top: 3.2631548055013em hsl(0, 0%, 0%);
      margin: 0 1.2092940973599em;
      width: 3.9962120876795E-16em;
    
    border-style: solid;
    transform: rotateX(-270deg) translateZ(12.5em) rotateX(7.5deg);
  
}

.somewhereElse {
    margin-left: 100px;
    margin-right: 100px;
}

.boxArea {
    background-color: black;
    border: 2px dashed #39FF14;
    margin-bottom: 50px;
    padding: 10px 0px 30px 0px;
}

h2 {
    color: #39FF14;
    text-align: center;
}

.btn {
    text-align: center;
    background-image: linear-gradient(#39FF14, #26ff00c8);
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    background-image: linear-gradient(#2fd812, #18a000c8);
    box-shadow: -3px 4px #37ff1493;
}